
<div style="background-color: #47525E; height:200px">
    <div style="margin-left: 80px;">
      <br>
      <br>
    <div style="color: white">
      Home
    </div>
    
    
    <div style="color: white">
       Projects
       
       <span style="padding-left: 210px"> Get our newsletter</span>
    </div>
    
    
    <div>
          <span style="color:white">
           Blog
           </span>
           
     
          <span style="padding-left:85px">
           T&C's
          </span>
          
          <span style="padding-left:100px">
           <input placeholder="Enter your email">
          </span>
          
          <span style="padding-left:5px">
           <button placeholder="Enter your email"> Subscribe </button>
          </span>
    </div>
    
     <div>
          <span style="color:white">
           Our Team
           </span>
           
     
          <span style="padding-left:55px">
           Privacy
          </span>
          
    </div>
    
    
    
       <div>
          <span style="color:white">
           Contact Us
           </span>
     
          <span style="padding-left:48px">
           Community
          </span>
    </div>
    
    
    <div>
        
        <div class="footer-main-div">
            <div class="footer-social-icons">
              
              <ul>
                  
                <a href="#" target="blank"><i class="fa fa-youtube"></i></a>
                <a href="#" target="blank"><i class="fa fa-google-plus"></i></a>
                <a href="#" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="blank"><i class="fa fa-instagram"></i></a>
                
                    
                    
                   
                <a href="#" target="blank"><i class="fa fa-facebook"></i></a>
              
                
              </ul>
            
            </div>
  
  
    </div>
    </div>
  </div>