
<div style="background-color: #47525E; height:257px">
    <div style="margin-left: 313px; padding-top: 60px">
      
    <div class="ftex">
      Home
    </div>
    
    
    <div class="ftex">
       Projects
       
       <span style="padding-left: 210px"> Get our newsletter</span>
    </div>
    
    
    <div>
          <span class="ftex">
           Blog
           </span>
           
     
          <span style="padding-left:85px;  color: #F7F7F7;
          font-family: Lato;
          font-size: 18px;
          font-weight: 400;">
           T&C's
          </span>
          
          <span style="padding-left:100px">
           <input class="femail"   placeholder="Enter your email">
          </span>
          
          <span style="padding-left:5px;">
           <button  class="fbtn" placeholder="Enter your email"> Subscribe </button>
          </span>
    </div>
    
     <div>
          <span class="ftex">
           Our Team
           </span>
           
     
          <span style="padding-left:55px;  color: #F7F7F7;
          font-family: Lato;
          font-size: 18px;
          font-weight: 400;">
           Privacy
          </span>
          
    </div>
    
    
    
       <div>
          <span class="ftex">
           Contact Us
           </span>
     
          <span style="padding-left:48px;  color: #F7F7F7;
          font-family: Lato;
          font-size: 18px;
          font-weight: 400;">
           Community
          </span>
    </div>
    
    
    <div>
        
        <div class="footer-main-div">
            <div class="footer-social-icons">
              
              <ul>
                  
                <a href="#" target="blank"><i class="fa fa-youtube"></i></a>
                <a href="#" target="blank"><i class="fa fa-google-plus"></i></a>
                <a href="#" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="blank"><i class="fa fa-instagram"></i></a>
                
                    
                    
                   
                <a href="#" target="blank"><i class="fa fa-facebook"></i></a>
              
                
              </ul>
            
            </div>
  
  
    </div>
    </div>
  </div>