
<div class="content">
<button class="left"></button>
  <div >
    
     <img src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="" style="width:376px;height:238px;">
     
     <h1 style="color: #47525E;
     font-family: Lato;
     font-size: 28px;
     font-weight: 700;
     line-height: 33px;
     width: 376px;
     text-align: left;">e-commerce + POS for business</h1>
     <p style=" color: #8190A5;
     font-family: Lato;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     width: 376px;
     text-align: left;"> Simple e-commerce and point of sale system solution for your business.
        Best userfriendly design which can allow your customer to place order 
        through online and to increase your sales by reaching more customers. 
        It can provide the slaes report of your business to do analysis.  </p>
  </div>
  
  <div >
      <img src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="" style="width:376px;height:238px;">
      <h1 style="color: #47525E;
      font-family: Lato;
      font-size: 28px;
      font-weight: 700;
      line-height: 33px;
      width: 376px;
      text-align: left;">e-commerce + POS for business</h1>
      <p style=" color: #8190A5;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      width: 376px;
      text-align: left;"> Simple e-commerce and point of sale system solution for your business.
         Best userfriendly design which can allow your customer to place order 
         through online and to increase your sales by reaching more customers. 
         It can provide the slaes report of your business to do analysis.  </p>
   </div>
   
   <div >
      <img src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="" style="width:376px;height:238px;">
      <h1 style="color: #47525E;
      font-family: Lato;
      font-size: 28px;
      font-weight: 700;
      line-height: 33px;
      width: 376px;
      text-align: left;">e-commerce + POS for business</h1>
      <p style=" color: #8190A5;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      width: 376px;
      text-align: left;"> Simple e-commerce and point of sale system solution for your business.
         Best userfriendly design which can allow your customer to place order 
         through online and to increase your sales by reaching more customers. 
         It can provide the slaes report of your business to do analysis.  </p>
   </div>

<button class="right"></button>

</div>