
<div class="title">
    <h1>Projects We Designed</h1>
</div>
<div class="content">
<!-- <button class="left"></button> -->
<ul id="menu">
<li>
  <div>
     <div *ngFor="let image of images">
        <img  src={{image}} alt="" class="imgCom" (click)="changeImage()">
       
    </div>

    
     <h1 style="color: #47525E;
     font-family: Lato;
     font-size: 28px;
     font-weight: 700;
     line-height: 33px;
     width: 376px;
     text-align: left;">e-commerce + POS for business</h1>
     <p style=" color: #8190A5;
     font-family: Lato;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     width: 376px;
     text-align: left;"> Simple e-commerce and point of sale system solution for your business.
        Best userfriendly design which can allow your customer to place order 
        through online and to increase your sales by reaching more customers. 
        It can provide the slaes report of your business to do analysis.  </p>
  </div>
</li>
<!-- hhehheheh -->
<li>
<div>
    <div *ngFor="let image of images">
       <img  src={{image}} alt="" class="imgCom" (click)="changeImage()">
      
   </div>

   
    <h1 style="color: #47525E;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    width: 376px;
    text-align: left;">Food Delivery app's (iOS & Android)</h1>
    <p style=" color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 376px;
    text-align: left;"> adopt this mobile app  food delivery system for your amazing resaturants and be always connected to your valued customers. 
     lets make your kitchen taste reach more hearts.  </p>
 </div>
</li>
 <!-- jhejhsajdhjkashdkj -->



<li>
 <div>
    <div *ngFor="let image of images">
       <img  src={{image}} alt="" class="imgCom" (click)="changeImage()" >
      
   </div>

   
    <h1 style="color: #47525E;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    width: 376px;
    text-align: left;">Multiport audio streamer(iOS, Android)</h1>
    <p style=" color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 376px;
    text-align: left;"> A new way approach to secure your digital privacy and to get i touch with your family .  Can track your beloved ones in emergency situations.  
    Can alert your family in dangers by mobile guesters feature.  </p>
 </div>

</li>
   
</ul>

<!-- <button class="right"></button> -->
</div>
