<br>

<div class="content">
<h1>
  How I turned my app idea into <br>
  a real business.
</h1>
<div class="content">
  <textarea ng-model="myTextarea" placeholder="Please email us or call us for any business requirements" class="textarea"></textarea>

  
  </div>
  <br>
  <br>
  <div class="content">
    <input type="text" placeholder="Email" class="textbox-2">
    </div>
    
    <div class="row ">
  <input type="text" placeholder="Name" class="textbox-3">
    </div>
    <div class="row ">
        <button class="btn">Send Message</button>
        </div>
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
            
          