<div class="content">
  <br>
  <br>
  <br>
<h1 style=" color: #47525E;
font-family: Lato;
font-size: 40px;
font-weight: 700;">Welcome To AvaCircle</h1>


</div>
<div style="padding-left: 200px">
<h2 style=" color: #47525E;
font-family: Lato;
font-size: 28px;
font-weight: 700;">Hello World.....</h2>

<p  style="padding-left: 10px">We provide Digital Technology Transfermation for your Esteemed Organization.</p>
<br>
<p style="padding-left: 80px">We believe that introducing technology to your business will maximize your <br>service to your beloved customers on time. Customer satisfaction is the first<br> pillar for business growth.</p>
<br>
<br>
<p style="padding-left: 160px" >We provide software architecture for your Projects.  Web UX/UI Designing,  Web Development with cuttting <br>Edge technologies,  Mobile Application Design and Development.   IOS Apps---Apps brings bonding between<br> customer and the business</p>
<br>
<br>
<br>
<p style="padding-left: 250px">bring heart to your businees by Transforming to internent technology.</p>

<div >
  <p style="padding-left:100px; font-family:fantasy; font-size: 25px; padding-top: 20px; color: #47525E ">To Know more please see our projects which are in live</p>
</div>
</div>
  
  